<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comic.mapper.ManagerPosMapper">	
	<insert id="roomstart">
	insert into comic_roomuse (ROOMUSE_id,ROOMUSE_num,ROOMUSE_status,ROOMUSE_starttime)
	values (#{roomuse_id},#{roomuse_num},#{roomuse_status},sysdate)
	</insert>
	
	<delete id ="roomstop" >
		delete comic_roomuse where roomuse_num=#{roomuse_num}
	</delete>
</mapper>