<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comic.mapper.MemberMapper">
	
	<resultMap id="MemverVOResultMap" type="com.comic.model.MemberVO">
        <id property="MEMBER_ID" column="MEMBER_ID"/>
        <result property="MEMBER_PWD" column="MEMBER_PWD"/>
        <result property="MEMBER_NAME" column="MEMBER_NAME"/>
        <result property="MEMBER_EMAIL" column="MEMBER_EMAIL"/>
        <result property="MEMBER_PHONE_NUMBER" column="MEMBER_PHONE_NUMBER"/>
    </resultMap>
	
	<insert id="memberInsert">
		INSERT INTO COMIC_MEMBER VALUES (#{MEMBER_ID},
		#{MEMBER_PWD}, #{MEMBER_NAME}, #{MEMBER_EMAIL},
		#{MEMBER_PHONE_NUMBER})
	</insert>
	
	<insert id="employeeInsert">
		INSERT INTO COMIC_EMPLOYEE VALUES ((SELECT NVL(MAX(EMPLOYEE_NUM),0)+1 FROM COMIC_EMPLOYEE),
		#{EMPLOYEE_PWD}, #{EMPLOYEE_NAME}, #{EMPLOYEE_PHONE}, #{EMPLOYEE_ACCOUNT}, SYSDATE, #{EMPLOYEE_POSITION}, #{EMPLOYEE_PAY})
	</insert>

	<select id="login" resultMap="MemverVOResultMap">
		SELECT * FROM COMIC_MEMBER WHERE MEMBER_ID = #{MEMBER_ID}
	</select>
	
	<update id="keepLogin">
		UPDATE COMIC_MEMBER SET SESSION_KEY = #{sessionId},
		SESSION_LIMIT = #{sessionLimit} WHERE MEMBER_ID = #{MEMBER_ID}
	</update>
	
	<select id="checkUserWithSessionKey" resultMap="MemberVOResultMap">
		SELECT * FROM COMIC_MEMBER WHERE SESSION_KEY = #{value}
	</select>
	
</mapper>