<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comic.mapper.ProductOrderMapper">
	
	<select id="productOrderList" resultType="com.comic.model.ProductOrderVO">
		SELECT * FROM COMIC_PRODUCTORDER
	</select>
	
	<delete id="productOrderDelete">
		DELETE COMIC_PRODUCTORDER WHERE PRODUCTORDER_NUM=#{productOrder_num}
	</delete>
	
	<select id="productOrderNumSelect" resultType="Integer">
		SELECT COUNT(*) FROM COMIC_PRODUCTORDER WHERE PRODUCTORDER_NUM > #{productOrder_num}
	</select>
	
	<update id="productOrderNumUpdate">
		UPDATE COMIC_PRODUCTORDER SET PRODUCTORDER_NUM=#{productOrder_num}-1 WHERE PRODUCTORDER_NUM=#{productOrder_num}
	</update>
	
</mapper>